* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    background-image: linear-gradient(rgba(0, 0, 0, 0.55), rgba(0, 0, 0, 0.65)), url("../Images/BG1.png");
    background-size: cover;
    background-position: center;
    color: white;
    font-family: Arial, sans-serif;
}

.topbar {
    position: relative;
    overflow: hidden;

    height: 80px;
    padding: 0 30px;

    display: flex;
    align-items: center;
    justify-content: space-between;

    background:
        radial-gradient(
            ellipse at top center,
            rgba(240, 19, 30, 0.95) 0%,
            rgba(180, 0, 0, 0.92) 22%,
            rgba(105, 0, 0, 0.92) 45%,
            rgba(71, 24, 34, 0.96) 70%,
            rgba(25, 4, 8, 1) 100%
        );

    box-shadow:
        inset 0 -18px 24px rgba(0, 0, 0, 0.35),
        0 8px 22px rgba(0, 0, 0, 0.55);

    border-bottom: 1px solid rgba(255, 255, 255, 0.06);
}

.topbar::before {
    content: "";
    position: absolute;
    inset: 0;

    background:
        linear-gradient(
            90deg,
            rgba(12, 0, 0, 0.70) 0%,
            rgba(12, 0, 0, 0.25) 18%,
            rgba(12, 0, 0, 0) 50%,
            rgba(12, 0, 0, 0.25) 82%,
            rgba(12, 0, 0, 0.70) 100%
        );

    pointer-events: none;
}

.header-left,
.header-right {
    display: flex;
    align-items: center;
    position: relative;
    z-index: 1;
}

.header-left {
    gap: 15px;
}

.header-right {
    gap: 8px;
}

.shield-logo {
    height: 55px;
    width: auto;
    object-fit: contain;
}

.agent-logo {
    height: 70px;
    width: auto;
    object-fit: contain;
    margin-left: -5px;
}

.topbar h1 {
    font-size: 32px;
    letter-spacing: 6px;
    color: #51525B;
}

.topbar p {
    font-size: 16px;
    font-weight: bold;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #51525B;
}

.start-screen {
    min-height: calc(100vh - 80px);
    display: flex;
    align-items: center;
    justify-content: center;
}

.login-card {
    text-align: center;
}

.login-icon {
    height: 250px;
    width: auto;
    object-fit: contain;
    margin-bottom: 18px;
    opacity: 0.9;

    filter: brightness(0) saturate(100%)
            invert(54%)
            sepia(4%)
            saturate(233%)
            hue-rotate(191deg)
            brightness(92%)
            contrast(88%);
}

.login-card h2 {
    margin-bottom: 25px;
    text-transform: uppercase;
    letter-spacing: 3px;
    font-size: 32px;
}

.button {
    display: inline-block;
    padding: 14px 42px;
    background: #9b0000;
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;
}

.button:hover {
    background: #c40000;
}